*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    font-size: 15px;
}
/* regole generali (mobile-first) */

/* header */
header{
    /* height: 100px; */
    background-color: blue;
}

.h-container{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.extended-menu{
    display: none;
}

.extended-menu ul{
    list-style-type: none;
}

.extended-menu li{
    display:inline;
}

.extended-menu .menu-button{
    background-color: transparent;
    color:white;
    margin:10px;
    border-color:transparent
}

#start-button{
    padding: 10px;
    border-radius: 20px;
    border-color: transparent;
}
/* fine header */

/* main */
.container{
    max-width: 600px;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-direction: column;
    /* height: 500px; */
}

/* prima sezione "functions" */
/* #functions .row{
    background-color: aqua;
} */

.double-col, #functions .col-30{
    margin: 10px;
    background-color: #B5DDFF;
    border-radius: 20px;
    /* border: 1px solid black; */
    /* height: 100px; */
}

#first-sec-text{
    padding:20px 50px;
}

#first-sec-img{
    display: flex;
    transform: translateX(20%);
}

#app-store-button{
    background-color: #0084FD;
    color: white;
    font-weight: 800;
    border: transparent;
    border-radius: 20px;
    padding: 10px 10px;
    width: 70%;
}

.double-col-content h3, #functions .col-30-content h3{
    color:#0084FD;
    margin: 20px auto;
    font-size: 20px;
}

.double-col-content{
    position:relative
}

.double-col-content button{
    margin: 30px 0;
}

.double-col-content, #functions .col-30-content{
    line-height: 2em;
    color: #5A6E7F;
    font-weight: 700;
}

.double-col-content i{
    color: white;
}

#functions .col-30-content{
    text-align: center;
    padding: 30px;
}

.col-30-content i{
    font-size: 100px;
    color: #0084FD;
}

#first-sec-img img{
    width: 50%;
}

/* fine prima sezione */

/* seconda sezione "strategic planning"*/
#strategic-planning .row{
    background-color: #9792E4;
}

.col-50{
    height: calc(50% - 20px);
    margin: 10px;
}

.col-50-text{
    margin: 30px 15px;
}

.col-50-text-1{
    color: white;
}

.col-50-text-2{
    text-align: center;
}

.col-50-text-2 h3{
    font-size: 20px;
}

.col-50-text-2 p{
    margin: 30px 0;
    font-style: italic;
}

.col-50-text-2 i{
    background-color: #9792E4;
    margin-bottom: 40px;
    padding: 10px 12px ;
    border-radius: 50%;
}

.col-50-content-2{
    background-color: white;
    border-radius: 20px;
    margin: 40px;
}

.col-50-text h2{
    margin: 60px 0;
    font-size: 35px;
}

.col-50-text p{
    line-height: 2em;
}

#strategic-planning img{
    width: 90%;
    margin: 40px 15px;
}
/* fine seconda sezione */

/* terza sezione "testimonials" */
#testimonials .row{
    background-color: lightgreen;
}

.col-100{
    width:calc(100% - 20px);
    margin:10px;
    height: calc(100% / 4 - 20px);
    border: 1px dashed blue;
}

#testimonials img{
    width: 160px;
    border-radius: 50%;
    height: 150px;
    
}
/* fine terza sezione */

/* quarta sezione "benefits" */
#benefits .row{
    background-color: orange;
}

/* quinta sezione "about-us" */

#about-us .row{
    background-color: beige;
}

.col-70{
    margin: 10px;
    width: calc(100% - 20px);
    height: calc(70% - 20px);
    border: 1px solid black;
}

#about-us img{
    width: 40%;
}

/* fine quinta sezione */

/* sesta sezione "get-started" */

#get-started .col-100{
    height: calc(100% - 60px);
    width: calc(100% - 60px);
    margin: 30px;
}

/* fine sesta sezione */

/* footer */
footer{
    background-color: rgb(36, 36, 36);
}

.footer-content{
    background-color: green;
    margin: 30px;
    width: calc(100% - 60px);
    height: calc(100% - 60px);
}
/* fine footer */

/* tablet */
@media  screen and (min-width:768px) {
    .contaier{
        max-width: 740px
    }
    
    .row{
        flex-direction: row;
        flex-wrap: wrap;
    }

    .double-col{
        width: calc(100% /3 * 2 - 20px );
    }

    .col-30{
        width: calc(100% / 3 - 20px);
    }

    .col-50{
        width:calc(100% - 20px)
    }

    .col-70{
        width: calc(70% - 20px);
    }

    #about-us .col-30{
        width: calc(30% - 20px)
    }
}

/* desktop */

@media screen and (min-width:991px){
    .container{
        max-width: 950px;
    }

    .extended-menu{
        display: block;
    }

    .hamburger{
        display: none;
    }

    .col-50{
        width: calc(50% - 20px);
    }
}

/* large desktop */

@media screen and (min-width:1200px){
    .container{
        max-width: 1100px;
    }
}