*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    font-size: 18px;
}
/* regole generali (mobile-first) */

/* header */
header{
    /* height: 100px; */
    background-color: #0083FD;
}

.h-container{
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hamburger{
    font-size: 20px;
}

.extended-menu{
    display: none;
}

.extended-menu ul{
    list-style-type: none;
}

.extended-menu li{
    display:inline;
}

.extended-menu .menu-button{
    background-color: transparent;
    color:white;
    margin:10px;
    border-color:transparent
}

#start-button{
    padding: 10px;
    border-radius: 20px;
    border-color: transparent;
}
/* fine header */

/* main */
.container{
    max-width: 600px;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-direction: column;
    /* height: 500px; */
}

/* prima sezione "functions" */
#functions .row{
    margin-bottom: 60px;
}

.double-col, #functions .col-30{
    margin: 10px;
    background-color: #B5DDFF;
    border-radius: 20px;
    /* border: 1px solid black; */
    /* height: 100px; */
}

#first-sec-text{
    padding:20px 50px;
}

#first-sec-img{
    display: flex;
    justify-content: center;
}

#app-store-button{
    background-color: #0084FD;
    color: white;
    font-weight: 800;
    border: transparent;
    border-radius: 20px;
    padding: 10px 40px;
    letter-spacing: 2px;
}

.double-col-content h3, #functions .col-30-content h3{
    color:#0084FD;
    margin: 20px auto;
    font-size: 30px;
}

.double-col-content{
    position:relative
}

.double-col-content button{
    margin: 30px 0;
}

.double-col-content, #functions .col-30-content{
    line-height: 2em;
    color: #5A6E7F;
    font-weight: 700;
}

.double-col-content i{
    color: white;
}

#functions .col-30-content{
    text-align: center;
    padding: 30px;
}

.col-30-content i{
    font-size: 100px;
    color: #0084FD;
}

#first-sec-img img{
    width: 50%;
}

/* fine prima sezione */

/* seconda sezione "strategic planning"*/
#strategic-planning{
    background-color: #9792E4;
}

.col-50{
    height: calc(50% - 20px);
    margin: 10px;
}

.col-50-text{
    margin: 30px 15px;
}

.col-50-text-1{
    color: white;
}

.col-50-text-2{
    text-align: center;
}

.col-50-text-2 h3{
    font-size: 20px;
}

.col-50-text-2 p{
    margin: 30px 0;
    font-style: italic;
}

.col-50-text-2 i{
    background-color: #9792E4;
    margin-bottom: 40px;
    padding: 10px 12px ;
    border-radius: 50%;
}

.col-50-content-2{
    background-color: white;
    border-radius: 20px;
    margin: 40px;
}

.col-50-text h2{
    margin: 60px 0;
    font-size: 35px;
}

.col-50-text p{
    line-height: 2em;
}

#strategic-planning-img-1, #strategic-planning-img-2{
    width: 90%;
    margin: 40px 15px;
}
/* fine seconda sezione */

/* terza sezione "testimonials" */
#testimonials .row{
    margin-bottom: 60px;
}

.col-100{
    width:calc(100% - 20px);
    margin:30px 10px;
    /* height: calc(100% / 4 - 20px);
    border: 1px dashed blue; */
    text-align: center;
    line-height: 2em;
}

.col-100-content h3{
    font-weight: 200;
    margin: 30px 0;
}

.col-100-content h2{
    font-size: 35px;
    color:#9792E4;
}

.col-100-content p{
    margin: 30px 0;
}

.col-100-cards{
    background-color: #9792E4;
    border-radius: 30px;
    padding: 30px;
    color: white;
}

.col-100-img{
    display: flex;
    justify-content: center;
}

#testimonials img{
    width: 150px;
    border-radius: 50%;
    height: 150px;
    
}
/* fine terza sezione */

/* quarta sezione "benefits" */
#benefits{
    background-color: #9792E4;
}

#benefits h2{
    color: white;
    font-size: 35px;
    text-align: center;
    margin-bottom: 30px;
    padding-top: 30px;
}

.benefits-cards{
    background-color: white;
    margin: 15px;
    border-radius: 20px;
    padding: 30px 30px;
}

.benefits-cards h3{
    color: #9792E4;
    margin: 30px 0;
    font-size: 25px;
}

.benefits-cards p{
    line-height: 2em;
    color: #5A6E7F;
    margin: 30px 0;
}

.benefits-cards button{
    background-color: #9792E4;
    color: white;
    border: transparent;
    border-radius: 20px;
    padding: 10px 30px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 30px;
}

.numbers{
    margin-bottom: 30px;
}

.numbers i{
    font-size: 50px;
    color: #9792E4;
    margin: 3px;
}

/* quinta sezione "about-us" */
#about-us .row{
    margin-bottom: 60px;
}

.col-70, .about-us-col-30{
    margin: 15px;
}

.col-70 h2{
    font-size: 40px;
    color: #9792E4;
    padding-top: 40px;
    margin-bottom: 30px;
}

.col-70 p{
    margin-bottom: 30px;
    line-height: 2em;
}

.about-us-img{
    position: relative;
}

.about-us-img i{
    position: absolute;
    top: 0px;
    left: 125px;
    font-size: 50px;
    color: #9792E4;
}

#about-us img{
    width: 40%;
    border-radius: 50%;
}

.about-us-col-30 p{
    font-size: 25px;
    font-weight: bold;
    color: #9792E4;
    padding-top: 30px;
}

.about-us-col-30 button{
    padding: 10px;
    border-radius: 30px;
    color: white;
    background-color: #9792E4;
    border: transparent;
    margin-top: 20px;

}
/* fine quinta sezione */

/* sesta sezione "get-started" */

#get-started{
    background-color: #9792E4;
}

#get-started h3, #get-started p{
    color: white;
}

#bold-h3{
    font-size: 30px;
    font-weight: bold;
}

#get-started h2{
    margin:50px 0;
    color: #FDC15F;
    font-size: 60px;
}

#get-started button{
    padding: 15px 40px;
    background-color: white;
    border: transparent;
    color: #9792E4;
    font-weight: bold;
    border-radius: 30px;
    letter-spacing: 2px;
    font-size: 18px;
    margin-bottom: 30px;
}

#get-started ul, #privacy{
    color: white;
    font-size: 15px;
    margin-bottom: 60px;
}

#get-started li{
    display: inline;
}

#get-started li i{
    font-size: 5px;
    position: relative;
    bottom: 3px;
    margin: 5px;
}
/* fine sesta sezione */

/* footer */
footer{
    background-color: #333333;
}

.footer-content{
    /* background-color: green;
    margin: 30px;
    width: calc(100% - 60px);
    height: calc(100% - 60px); */
    color: white;
    padding-top: 50px;
    text-align: center;
}

#footer-link{
    margin: 60px 0 30px;
}

#footer-link a{
    color: #9792E4;
}
/* fine footer */

/* TABLET */
@media  screen and (min-width:768px) {
    body{
        font-size: 15px;
    }

    .container{
        max-width: 740px
    }
    
    .row{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
     
    /* prima sezione */

    .double-col{
        width: calc(100% /3 * 2 - 20px );
    }

    .col-30{
        width: calc(100% / 3 - 20px);
    }
    .double-col-content h3, #functions .col-30-content h3{
        font-size: 20px;
    }

    #functions .col-30-content{
        padding: 10px;
        margin-bottom: 30px;
    }

    #first-sec-img img{
        width: 60%;
    }

    .col-30-content i{
        font-size: 70px;
        padding-top: 35px;
    }
    /* fine prima sezione */
    /* seconda sezione "strategic planning"*/
    .col-50{
        width:calc(100% - 20px)
    }
    /* fine seconda sezione */
    /* terza sezione "testimonials"*/
    .col-100-cards{
        display:flex;
        align-items: center;
        padding: 0 30px;
        text-align: start;
    }

    #testimonials .col-100{
        text-align: center;
    }
    
    .col-100-text{
        padding-left: 20px;
        margin-top: 30px;
    }

    #testimonials img{
        width: 170px;
        height: 170px;
    }
    /* fine terza sezione */
    /* quarta sezione "benefits" */
    #benefits .col-30{
        width: calc(100% / 2 - 20px);
    }

    .benefits-cards{
        padding: 20px 20px;
    }

    #benefits .col-30-content i{
        font-size: 50px;
        padding-top: 25px;
    }
    /* fine quarta sezione */
    /* quinta sezione "about-us */
    #about-us .row{
        flex-wrap: nowrap;
    }

    .col-70{
        width: calc(70% - 20px);
    }

        #about-us .col-70-content{
        padding-right:50px;
    }
    
    .col-70 h2{
        font-size:55px;
    }
    
    #about-us .col-30{
        width: calc(30% - 20px);
        padding-top:50px
    }

    #about-us img{
        width: 85%;
    }

    .about-us-col-30 p {
        font-size:20px;
    }
}
/* fine quinta sezione */

/* DESKTOP */

@media screen and (min-width:991px) {
    body{
        font-size: 18px;
    }

    .container{
        max-width: 950px;
    }
    /* header */
    .extended-menu{
        display: block;
    }
    .extended-menu .menu-button, #start-button{
        font-size: 18px;
    }
    .hamburger{
        display: none;
    }
    /* fine header */
    /* prima sezione */
    .double-col-content, .double-col{
        display: flex;
    }

    #first-sec-img img{
        width: 100%;
        padding-top: 50px;
    }
    /* fine prima sezione */
    /* seconda sezione "strategic planning" */
    .col-50{
        width: calc(50% - 20px);
    }
    .col-50-content-2{
        position: relative;
        top: 125px;
    }

    #strategic-planning-img-2{
        width: 60%;
        position:relative;
        left: 50px;
    }

    /* fine seconda sezione  */
    /* quinta sezione "about-us" */
    .about-us-img i{
        left: 160px;
}
}
/* fine quinta sezione */

/* LARGE DESKTOP */

@media screen and (min-width:1200px){
    
    .container{
        max-width: 1170px;
    }

    /* seconda sezione "strategic planning */
    .col-50-content-2{
        top:150px
    }  

    /* quinta sezione "about us" */
    .about-us-img i{
        left: 200px;
        font-size: 65px;
    }
}